<button class="btn btn-primary m-2" routerLink="/new">New Student</button>

<div class="table-responsive m-2">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>SID</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Level</th>
                <th>Addresses</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let student of studentList">
                <td>{{student.id}}</td>
                <td>{{student.fullName}}</td>
                <td>{{student.email}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.level}}</td>
                <td>{{student.stringAddress}}</td>
                <td>
                    <button class="btn btn-primary" routerLink="/update/{{student.id}}">Edit</button>
                    <button class="btn btn-danger btnmargin" (click)="deleteStudent(student.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


